<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
              <br>
                <small>It's nice to meet you! A little bit about me</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="images/JamesRiverProfilePic.jpg">
        </div>
        <div class="col-md-6">
            <h2>Work Background</h2>

            <p>I have a varied work background, my main skillset is web development and test automation. Listed is my work history in reverse chronological order.</p>

            <p><a href="https://www.linkedin.com/pub/evan-wiley/19/a13/aa3">
      
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Evan Wiley's profile on LinkedIn">
        
    </a></p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">


</div>
</div>
<!-- /.container -->
