<!-- Page Content -->
<div class="container">
<script language="JavaScript" src="scripts/gen_validatorv31.js" type="text/javascript"></script>
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>We'd Love to Hear From You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>Let's Get In Touch!</h3>

            <p>I'd like to get in touch with you to see what needs your website has and if you need any additional assistance. </p>

            <form method="POST" name="contactform" action="contact-form-handler.php" enctype="text/plain">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for='name'>Name</label>
                        <input type="text" name="name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for='email'>Email Address</label>
                        <input type="email" name="email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for='phone'>Phone Number</label>
                        <input type="phone" name="phone" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for='message'>Message</label>
                        <textarea name="message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <script language="JavaScript">
// Code for validating the form
// Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
// for details
var frmvalidator  = new Validator("contactform");
frmvalidator.addValidation("name","req","Please provide your name"); 
frmvalidator.addValidation("email","req","Please provide your email"); 
frmvalidator.addValidation("email","email","Please enter a valid email address"); 
</script>

        <div class="col-sm-4">
            <h3>Website Development</h3>
            <h4>Need Help With Your Website?</h4>

            <p>
               119 North 20th Street<br>
                APT 426             <br>
                Richmond, VA 23223<br>
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (571) 246-1668</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:feedback@startbootstrap.com">evan.w.wiley@gmail.com</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/evan.wiley3" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/Edub_me" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/u/0/114507250850695520831" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a></li>
                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Evan Wiley's profile on LinkedIn">
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->