
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Specialists');"></div>
            <div class="carousel-caption">
                <h1>Reduce costs of finishing operations by 65%</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Wordlwide');"></div>
            <div class="carousel-caption">
                <h1>International Buyer Financing Available</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Since 1910');"></div>
            <div class="carousel-caption">
                <h1>Family Owned for Four Generations</h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">
        <h4>Evan Wiley</h4>
        <h6>"The one who falls and gets up is so much stronger than the one who never fell."</h6>
<img class="img-responsive" src="images/EvanWileyCoverWebPage.jpg">
        <div class="row">
            <div class="col-lg-4 col-md-4">
               
                </div></div>
            
    <!-- /.row -->

</div>
<!-- /.container -->
